

.classj{
    background-color:#e29de0;
    text-align:center;
    box-shadow: 1px 1px 5px
}

.fard{
    font-family: 'K2D' , sans-serif;
    font-size:2vw;
    color:white;
    word-spacing: auto;
}

.caro{
    width:100%;
    height:500px;
}

#footerimg{
    align-items: center;
    font-style:normal;
    color:white;
    margin-bottom:5%;
}

.footer{
    background-color:#e29de0;
}

body{ 
    background-image:url(img/th.png);
    background-size:100%;
}

.vl {
    border-left: 3px solid #e29de0;
    height: 500px;
}

.number{
    left: 6.87%;
    right: 69.63%;
    top: 50.06%;
    bottom: 12.58%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: white;
}

.title{
    color:#fffeff; 
    font-size:60px; 
    text-align:center;
}


.classp{
    background-color: gray;
    margin-left: 480px;
    margin-left: -480px;
}
.classs{
    background-color: gray;
    margin-right: 90px;
    text-align: center;
}
.classc{
    background-color: gray;
    margin-left: 90px;
}
h1{
    color:white;
    font-family: 'Allura Script', sans-serif;
}
.board{
    height:300px;
    width:200px;
}

.vertical {
    border-left: 2px solid rgb(70,54,54);
    height: 210px;
    position: absolute;
    left: 32%;
    top: 1;
    bottom: -42%;
  }
  .vert{
    border-left: 2px solid rgb(70,54,54);
    height: 80px;
    position: absolute;
    left: 50%;
    top: 1;
    bottom: -60%;
  }
.pcard{
    background-color: rgb(126, 251, 255);
}
  .card-header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
  }
  .card-body{
    border-radius:15px;
    background-color:#ffffff ;
}
.card-ptext{
    border-radius:15px;
    color:#000000 ;
    margin-left: 25%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.card-img{
    margin-left: 15%;
}
.psub-head{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: #ffffff;
}
.About{
    height: 400px;
    width: 400px;
}

.TOC {
    text-decoration:none;
    color:#705454;
    font-size:1.5vw;
}

.menu{
    font-size:40px;
    color:rgb(70,54,54);
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    overflow:auto;
    
}

.desc{
    font-size:15px;
    text-align:left;
    border-top:solid 1px;
    border-right:solid 1px;
    margin-right:49.7%;
    margin-left:5px;
}

.price{
    font-size:15px;
    text-align:center;
    border-top:solid 1px;
    border-left:solid 1px;
    margin-left:50%;

    font-weight: 800;
}

.shelf{
    height: 300px;
    width: 300px;
}
.gall{background-color:#f0f0f0;}

.gal{
    background-color:#f0f0f0;
}

.gal .card-body{
    background-color:white;
    border-left: #e29de0 solid; border-right: solid #e29de0;
}

#dis{
    background-color: #a6f2ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dhead{
   font-weight: 500;
}

.dtext{
    font-weight: 300;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index:20;
    border-color:#9c3299;
    color:#705454;
    background-color:#f0f0f0;
    border-radius:5px;
  }

.hidden{
    display:none;
}
.line1{
    border-top:solid 3px;
    border-left:solid 3px;
    margin-left:.80vw;
    margin-top: .2vw;
    border-color: #e29de0;
}
.line2{
    border-top:solid 3px;
    border-left:solid 3px;
    margin-left:.80vw;
    margin-top: 1.5vw;
    border-color: #e29de0;
}
.classe{
    background-color: #00e1ff62;
}
.line3{
    border-top:solid 3px;
    border-left:solid 3px;
    margin-left:.80vw;
    margin-top: .4vw;
    border-color: #e29de0;
}